[mysqld]
binlog_format=ROW
default-storage-engine=innodb
innodb_autoinc_lock_mode=2
bind-address=0.0.0.0
pid_file=/var/lib/mysql/mysql.pid
character-set-client-handshake=false
collation-server=utf8mb4_unicode_ci
character-set-server=utf8mb4

# Galera Provider Configuration
wsrep_on=ON
wsrep_provider=/usr/lib/galera/libgalera_smm.so

# Galera Cluster Configuration
wsrep_cluster_name="Staging"
wsrep_cluster_address="gcomm://13.71.165.197,104.130.204.123"

# Galera Synchronization Configuration
wsrep_sst_method=mariabackup
wsrep_sst_auth=backupuser:kdebtQF6,gmK61Z39h,XP-GAan8NA35

# Galera Node Configuration
wsrep_node_address="13.71.165.197"
wsrep_node_name="13.71.165.197"

[mysqldump]
user=backupuser
password=kdebtQF6,gmK61Z39h,XP-GAan8NA35

[xtrabackup]
user=backupuser
password=kdebtQF6,gmK61Z39h,XP-GAan8NA35

[client]
default-character-set=utf8mb4

[mysql]
default-character-set=utf8mb4